html {
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
}

body {
    padding: 0px;
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#main-canvas {
    display: none;
}

#img-resources {
    display: none;
}

.active {
    position: absolute;
    z-index: 2;
}

.inactive {
    display: none;
}

.splash-screen {
    position: absolute;
    left: 12.5%;
    top: 10%;
    z-index: 4;
}

#timer-canvas {
    position: absolute;
    z-index: 3;
}