<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link rel='stylesheet' href='../css/style.css'/>
		<script src="../js/jquery-2.1.3.min.js"></script>
		<script src="../js/underscore-min.js"></script>
		<script src="../js/level1.js"></script>
		<script src="../js/level2.js"></script>
		<script src="../js/timer.js"></script>
		<script src="../js/game.js"></script>
	</head>
	<body>
		<div id="img-resources">
			<img id="test-img" src="../img/test.png"/>
			<img id="rock-img" src="../assets/rocks/rock.png"/>
			<img id="background-img" src="../assets/comp/comp.png"/>
			<img id="pipe-bl" src="../assets/pipes/pipe-bl.png"/>
			<img id="pipe-br" src="../assets/pipes/pipe-br.png"/>
			<img id="pipe-h" src="../assets/pipes/pipe-h.png"/>
			<img id="pipe-v" src="../assets/pipes/pipe-v.png"/>
			<img id="pipe-tl" src="../assets/pipes/pipe-tl.png"/>
			<img id="pipe-tr" src="../assets/pipes/pipe-tr.png"/>
			<img id="pipe-side-br" src="../assets/pipes/pipe-side-br.png"/>
			<img id="pipe-side-v" src="../assets/pipes/pipe-side-v.png"/>
			<img id="comp-grid" src="../assets/comp/comp-grid.png"/>
			<img id="comp-top" src="../assets/comp/comp-top.gif"/>
			<img id="comp-tutorial" src="../assets/comp/comp-tutorial.png"/>
			<img id="comp-win" src="../assets/comp/comp-win.gif"/>
			<img id="comp-lose" src="../assets/comp/comp-lose.gif"/>
		</div>
		<img id="intro" onload="javascript:gifGo();" src="../assets/intro/intro.gif"/>
		<audio id="construct-wav">
			<source src="../assets/sounds/hammer%20hit2.wav" type="audio/wav">
		</audio>
		<audio id="pickup-wav">
			<source src="../assets/sounds/pickup.wav" type="audio/wav">
		</audio>
		<audio id="lose-wav">
			<source src="../assets/sounds/lose.wav" type="audio/wav">
		</audio>
		<audio id="wrong-wav">
			<source src="../assets/sounds/wrong-click.wav" type="audio/wav">
		</audio>
		<audio id="victory-wav">
			<source src="../assets/sounds/victory-chime.wav" type="audio/wav">
		</audio>
		<audio id="bg-music" loop>
			<source src="../assets/sounds/bg-music.mp3" type="audio/mpeg">
		</audio>
		<img id="top-gif-img" class="inactive" src="../assets/comp/comp-top.gif"/>
		<img id="comp-win-img" class="inactive splash-screen" src="../assets/comp/comp-win.gif"/>
		<img id="comp-lose-img" class="inactive splash-screen" src="../assets/comp/comp-lose.gif"/>
		<canvas id="main-canvas">
		</canvas>
		<canvas id="timer-canvas">
		</canvas>
		<div id="debug"></div>
	</body>
</html>
